.render-planet {
    max-width: 40rem;
    display: flex;
    margin: 20px;
}

.render-planet img {
    margin-right: 10px;
    height:150px;
    width:150px;
    border-radius: 10px;

}

.info-card .list-group-item {
    padding: 0 5px 1px 25px;
    margin-top: 0;
    margin-bottom: 3px;
}

.term {
    margin-right: 5px;
}

