.render-planet {
    max-width: 40rem;
    display: flex;
    margin: 20px;
}

.render-planet img {
    margin: 0 30px 10px 0;
    border-radius: 30px;

}

.info-card h4,
p {
    padding: 0 10px 10px 0;
}

.info-card .list-group-item {
    padding: 0 5px 1px 25px;
    margin-top: 0;
    margin-bottom: 3px;
}


